/* navbar component */
header{
   text-align: center;
}
header nav{
   display: flex;
   justify-content: space-around;
}

header nav a {
   color:black;
  text-decoration: none;
}
/* .logout{
   color: white;
} */

header nav div{
   font-size: large;
   background-color: blue;
   color: white;
   width: 400px;
   border-radius: 7px;
   transition: background-color .2s, color .2s;
   padding: 10px;

}
header nav div:hover{
   background-color: bisque;
   color: blue;
}

/* auth */
.auth form{
   padding: 50px;
   text-align: center;
}

.auth form input{
   display: block;
   padding: 8px;
   border-radius: 5px;
   margin: 20px,auto;
   


}